
        <%- include('elements/header'); -%>
    <body >
        <main>
            <section class="section-about ">
                <div class="u-center-text u-margin-bottom-big mt-70">
                    <h2 class="heading-secondary">
                        Oderwij się od życia dnia codziennego
                    </h2>
                </div>

                <div class="row ">
                    <div class="col-1-of-2">
                        <h3 class="heading-tertiary u-margin-bottom-small">Przenieś się w świat planszówek</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur
                            ducimus quam nisi exercitationem omnis earum qui.
                        </p>

                        <h3 class="heading-tertiary u-margin-bottom-small">Przeżyj cudowne przygody ze znajomymi</h3>
                        <p class="paragraph">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam.
                        </p>

                        <a href="about" class="btn-text">Dowiedz się wiecej&rarr;</a>
                    </div>
                    <div class="col-1-of-2">
                        <div class="composition">

                            <img srcset="/img/nav.jpg 300w, /img/nav.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 1"
                                 class="composition__photo composition__photo--p1"
                                 src="/img/nav.jpg">
                            <img srcset="img/reklama.jpg 300w, img/reklama.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 2"
                                 class="composition__photo composition__photo--p2"
                                 src="/img/reklama.jpg">

                            <img srcset="/img/scrabble.jpg 300w, /img/scrabble.jpg 1000w"
                                 sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                                 alt="Photo 3"
                                 class="composition__photo composition__photo--p3"
                                 src="/img/scrabble.jpg">    
                            
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-features">
                
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Graj ze znajomymi</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Przeżyj przygody</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Znajdz coś dla siebie</h3>
                             <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <h3 class="heading-tertiary u-margin-bottom-small">Miło spędź czas</h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-games" id="section-games">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Ostatnie bestsellery
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-3">
                       <div class="card">
                           <div class="card__side card__side--front">
                                <div class="card__picture card__picture--1">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--1">Cywilizacja</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Ok 180 minut gry</li>
                                        <li>2 - 4 graczy</li>
                                        <li>Od 13 lat</li>
                                        <li>Budowanie talii</li>
                                        <li>Dla zaawansowanych</li>                                       
                                    </ul>
                                </div>
                           </div>
                           <div class="card__side card__side--back card__side--back-1">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Już teraz tylko</p>
                                        <p class="card__price-value">219.95 zł</p>
                                    </div>
                                    <a href="planszowe#section-games" class="btn btn--white">Kup teraz</a>
                                </div>
                            </div>
                       </div>
                    </div>


                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--2">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--2">Dobble</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>15 minut rozrywki</li>
                                        <li>2 - 8 osób</li>
                                        <li>Od 6 lat</li>
                                        <li>Zręcznościowa</li>
                                        <li>Dla każdego</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card__side card__side--back card__side--back-2">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Już teraz tylko</p>
                                        <p class="card__price-value">49.90 zł</p>
                                    </div>
                                    <a href="karciane#section-games" class="btn btn--white">Kup teraz</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front">
                                <div class="card__picture card__picture--3">
                                    &nbsp;
                                </div>
                                <h4 class="card__heading">
                                    <span class="card__heading-span card__heading-span--3">X-Wing</span>
                                </h4>
                                <div class="card__details">
                                    <ul>
                                        <li>Ok 45 minut walki</li>
                                        <li>Dla 2 graczy</li>
                                        <li>Od 14 lat</li>
                                        <li>Programowanie akcji</li>
                                        <li>Dla początkujących</li>
                                    </ul>
                                </div>

                            </div>
                            <div class="card__side card__side--back card__side--back-3">
                                <div class="card__cta">
                                    <div class="card__price-box">
                                        <p class="card__price-only">Już teraz tylko</p>
                                        <p class="card__price-value">76.95 zł</p>
                                    </div>
                                    <a href="figurkowe#section-games" class="btn btn--white">Kup teraz</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="u-center-text u-margin-top-huge">
                    <a href="about" class="btn btn--blue">Dowiedz się wiecej o nas</a>
                </div>
            </section> 
        <%- include('elements/footer'); -%>    
    </main>
</body>