<body >
    <main>

        <div class="section-background">      
            <div class="section-login">        
                <div class="header__logo-box-login">
                    <a href="/"><img src="/img/logo-white.png" alt="Logo" class="header__logo"></a>
                </div>            
                <div class="section-login__text">
                    <h1 class="section-login__text-1">
                        Logowanie
                    </h1>
                </div>
                <div class="section-login__input">
                    <form class="login" action="/login" method="POST">
                        <div class="section-login__input-in">
                            <input class="section-login__input-in-1" type="email" id="email" placeholder="Email" name="email" autocomplete="off">
                            <br>
                            <input class="section-login__input-in-1" type="password" id="hasło"  placeholder="Hasło" name="password" autocomplete="off">                       
                        </div>
                        <div class="section-login__input-button">
                            <a href="/"><button type="submit" class ="btn btn--white" >Login</button></a>              
                            <br>                           
                            <a class="btn btn--white" href="/register">Rejestracja</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>