.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.6),
        rgba($color-primary-dark, 0.6)),
    url(../img/catan.jpg);
    background-size: cover;
    transform: skewY(+6deg);
    margin-top: -13rem;

    & > * {
        transform: skewY(-13deg);
    }

    @include respond(tab-port) {
        padding: 10rem 0;
    }

}

.section-games {
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -13rem;

    @include respond(tab-port) {
        padding: 20rem 0 10rem 0;
    }
}
